.showcase header a {
    text-decoration: none;
    color: #111;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../media/hamburger.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(10%);
    cursor: pointer
}

.toggle.active {
    background: url('../media/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    filter: invert(10%);

}