.showcase header a {
    text-decoration: none;
    color: #111;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../media/hamburger.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(10%);
    cursor: pointer
}

.toggle.active {
    background: url('../media/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    filter: invert(10%);

}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #de5d83;
}

.menu ul li a:hover {
    color: #fff;
    
}

.wrapper {
    color: #111;
}