
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    height: 50em;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: .7s;
}   